<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- 用户登录 -->
    <servlet>
        <servlet-name>Login-Servlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Individual-Servlet</servlet-name>
        <servlet-class>servlet.IndividualServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Register-Servlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Public-Servlet</servlet-name>
        <servlet-class>servlet.PublicServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Exit-Servlet</servlet-name>
        <servlet-class>servlet.ExitServlet</servlet-class>
    </servlet>






    <!-- Servlet映射 -->
    <servlet-mapping>
        <servlet-name>Login-Servlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Individual-Servlet</servlet-name>
        <url-pattern>/IndividualServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Register-Servlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Exit-Servlet</servlet-name>
        <url-pattern>/ExitServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Public-Servlet</servlet-name>
        <url-pattern>/PublicServlet</url-pattern>
    </servlet-mapping>

    <!-- 主页 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


</web-app>